@CHARSET "UTF-8";

.badge{
	border-radius: 9px;
	padding:0px 6px;
	display: inline-block;
	font-weight: 400 !important;
    vertical-align: text-bottom !important;
}

/* main frame */
.frameMainColor {
	background: -webkit-linear-gradient(top, #34495e 0%, #34495e 100%) !important;
	background: -o-linear-gradient(top, #34495e 0%, #34495e 100%) !important;
	background: -ms-linear-gradient(top, #34495e 0%, #34495e 100%) !important;
	background: linear-gradient(to bottom, #34495e 0%, #34495e 100%) !important;
}

.leftMenuTop {
	border-top:1px dashed #AAAAAA;
	border-bottom:1px dashed #AAAAAA;
}

.nav-menu-accordion > div:first-child {
	border-bottom: 1px dashed #AAAAAA;
}

.cc-nav {
	border-left:1px solid #e1e1e1;
	border-top:none;
	border-right:none;
	border-top:none;
	color: #ffffff !important;
	text-align:left !important;
	cursor: pointer;
	padding-left:10px;
}

.cc-menu li{
	font-size:18px !important;
	margin-right:5px !important;
}
.cc-menu span{color:#444444}
.cc-menu span:hover{
	color:#ffffff !important;
}

.cc-tree-icon{
    border: 0 none;
    padding: 0;
    margin-right: 4px;
    vertical-align: top;
	font-size: 18px;
	color:#4A6987;
}

.cc-lmenu .nav-menu-accordion{background-color: #efefef!important;}
/*
.badge {
	font-size: 12px;
	padding: 1px 6px;
	border: 1px solid #D1D1D1;
	border-radius: 10px;
	display: inline-block;
	font-weight: 400 !important;
    vertical-align: text-bottom !important;
	behavior:url(${webRoot}/common-statics/bootstrap-patch/PIE.htc);
}
*/
/* *********** */
.cc-menu-icon {
    border: 0 none;
    height: 16px;
    left: 3px;
    margin-left: 3px;
    padding: 0;
    position: absolute;
    vertical-align: top;
    width: 16px;
	font-size: 18px;
}

/* 上传组件支持 TODO css图片合并*/
.cc-upload-add {
	background: url(../images/upload_add.png);
	border:1px solid #3a688a;
	border-radius: 3px;
}

.cc-upload-addOver, .cc-upload-addDisabled {
	background: url(../images/upload_add_over.png);
}

.cc-upload-del {
	background: url(../images/upload_del.png);
	border:1px solid #FFFFFF;
	border-radius: 2px;
}
.cc-upload-delOver, .cc-upload-delDisabled {
	background-color: #6aa4cf;
}


.cc-upload-insert {
	background: url(../images/upload_insert.png);
	border:1px solid #FFFFFF;
	border-radius: 2px;
}
.cc-upload-insertOver, .cc-upload-insertDisabled {
	background-color: #6aa4cf;
}

.cc-file{background: url(../images/file_icons.png) no-repeat scroll 0 0 transparent;}
.cc-file-xls,.cc-file-xlsx{background-position: 10px 2px;}
.cc-file-pdf{background-position: -32px 2px;}
.cc-file-rar{background-position: -74px 2px;}
.cc-file-ppt,.cc-file-pptx{background-position: -116px 2px;}
.cc-file-doc,.cc-file-docx{background-position: -158px 2px;}
.cc-file-zip{background-position: -242px 2px;}
.cc-file-other{background-position: -200px 2px;}

@keyframes ringing {
0% {transform: rotate(-15deg);}
2% {transform: rotate(15deg);}
4% {transform: rotate(-18deg);}
6% {transform: rotate(18deg);}
8% {transform: rotate(-22deg);}
10% {transform: rotate(22deg);}
12% {transform: rotate(-18deg);}
14% {transform: rotate(18deg);}
16% {transform: rotate(-12deg);}
18% {transform: rotate(12deg);}
20% {transform: rotate(0deg);}
}

@keyframes vertical {
0% {transform: translate(0px, -3px);}
4% {transform: translate(0px, 3px);}
8% {transform: translate(0px, -3px);}
12% {transform: translate(0px, 3px);}
16% {transform: translate(0px, -3px);}
20% {transform: translate(0px, 3px);}
22% {transform: translate(0px, 0px);}
}